{
  "openapi": "3.0.1",
  "info": {
    "title": "Crayon Group Customer API",
    "version": "v1"
  },
  "servers": [{ "url": "https://api.crayon.com/api/v1" }],
  "paths": {
    "/ActivityLogs": {
      "get": {
        "operationId": "ListActivityLogs",
        "tags": ["ActivityLogs"],
        "parameters": [
          {
            "name": "Entity",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "Id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "nullable": true
            }
          },
          {
            "name": "SearchDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "From",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "To",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityLogItem"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityLogItem"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityLogItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/Addresses": {
      "get": {
        "tags": ["Addresses"],
        "operationId": "ListAddresses",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AddressType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Address"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Address"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Address"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/Addresses/{id}": {
      "get": {
        "tags": ["Addresses"],
        "operationId": "GetAddress",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          }
        }
      }
    },
    "/AgreementProducts": {
      "get": {
        "operationId": "ListAgreementProducts",
        "tags": ["AgreementProducts"],
        "parameters": [
          {
            "name": "AgreementTypeIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AgreementType"
              },
              "nullable": true
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Search",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "PriceListId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "OrganizationId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CustomerTenantId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "AgreementId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IsTrial",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AgreementIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "nullable": true
            }
          },
          {
            "name": "SearchDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "Include.PartNumbers",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.PublisherIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.PublisherNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.PoolNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.OperatingSystemNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.LevelNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.LanguageNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.LicenseAgreementTypeNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.LicenseTypeNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.ProductFamilyNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.ProductTypeNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.ProgramNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.OfferingNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.PurchasePeriodNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.PurchaseUnitNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.VersionNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.RegionNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.ProductCategoryNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.CatalogNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Include.BillingCycles",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.PartNumbers",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.PublisherIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.PublisherNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.PoolNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.OperatingSystemNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.LevelNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.LanguageNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.LicenseAgreementTypeNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.LicenseTypeNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.ProductFamilyNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.ProductTypeNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.ProgramNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.OfferingNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.PurchasePeriodNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.PurchaseUnitNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.VersionNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.RegionNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.ProductCategoryNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.CatalogNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Exclude.BillingCycles",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "SortKey",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "IncludeProductInformation",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "SortOrder",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SortOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgreementProduct"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgreementProduct"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgreementProduct"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["AgreementProducts"],
        "operationId": "CreateAgreementProduct",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementProductFilter"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementProductFilter"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementProductFilter"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementProductFilter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgreementProduct"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgreementProduct"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgreementProduct"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/AgreementProducts/file/xlsx": {
      "post": {
        "tags": ["AgreementProducts"],
        "operationId": "UploadAgreementProductsFileInXLSX",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementProductFilter"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementProductFilter"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementProductFilter"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementProductFilter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AgreementProducts/{partNumber}/supportedbillingcycles": {
      "get": {
        "tags": ["AgreementProducts"],
        "operationId": "ListSupportedBillingCycles",
        "parameters": [
          {
            "name": "resellerCustomerId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "partNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingCycleEnum"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingCycleEnum"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingCycleEnum"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/AgreementReports/{productContainerId}": {
      "get": {
        "tags": ["AgreementReports"],
        "operationId": "ListAgreementReports",
        "parameters": [
          {
            "name": "productContainerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgreementReport"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgreementReport"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgreementReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/AgreementReports/{agreementId}": {
      "put": {
        "tags": ["AgreementReports"],
        "operationId": "UpdateAgreementReport",
        "parameters": [
          {
            "name": "agreementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementReport"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementReport"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementReport"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementReport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementReport"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementReport"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementReport"
                }
              }
            }
          }
        }
      }
    },
    "/Agreements": {
      "get": {
        "tags": ["Agreements"],
        "operationId": "ListAgreements",
        "parameters": [
          {
            "name": "OrganizationId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "OrganizationIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "nullable": true
            }
          },
          {
            "name": "PricelistIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "nullable": true
            }
          },
          {
            "name": "Status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AgreementStatus"
            }
          },
          {
            "name": "AgreementTypes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AgreementType"
              },
              "nullable": true
            }
          },
          {
            "name": "PublisherIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "nullable": true
            }
          },
          {
            "name": "ProgramIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "nullable": true
            }
          },
          {
            "name": "SearchDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "AgreementIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "nullable": true
            }
          },
          {
            "name": "SalesPriceCurrency",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "TermRequired",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "PublisherId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "EndDateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "EndDateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Search",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agreement"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agreement"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agreement"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Assets": {
      "get": {
        "tags": ["Assets"],
        "operationId": "ListAssets",
        "parameters": [
          {
            "name": "ResellerCustomerId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PublisherId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ExternalOrderId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "ExternalOrderIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "ReservationId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "AssetType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AssetType"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AssetStatus"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Search",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "SortBy",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AssetSortBy"
            }
          },
          {
            "name": "SortOrder",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SortOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Asset"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Asset"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Asset"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Assets/{id}": {
      "get": {
        "tags": ["Assets"],
        "operationId": "GetAsset",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          }
        }
      }
    },
    "/Assets/orders": {
      "get": {
        "tags": ["Assets"],
        "operationId": "ListAssetOrders",
        "parameters": [
          {
            "name": "ResellerCustomerId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PublisherId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ExternalOrderId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "ExternalOrderIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "ReservationId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "AssetType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AssetType"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AssetStatus"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Search",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "SortBy",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AssetSortBy"
            }
          },
          {
            "name": "SortOrder",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SortOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetOrder"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetOrder"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetOrder"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Assets/verify": {
      "post": {
        "tags": ["Assets"],
        "operationId": "CreateAssetVerifyOrder",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AssetOrder"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetOrder"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetOrder"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AssetOrder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AssetOrder"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetOrder"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetOrder"
                }
              }
            }
          }
        }
      }
    },
    "/Assets/checkout": {
      "post": {
        "tags": ["Assets"],
        "operationId": "CreateAssetCheckoutOrder",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AssetOrder"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetOrder"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetOrder"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AssetOrder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Assets/{assetId}": {
      "put": {
        "tags": ["Assets"],
        "operationId": "UpdateAsset",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Asset"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Asset"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Asset"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Asset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Assets/{assetId}/tags": {
      "post": {
        "tags": ["Assets"],
        "operationId": "ListAssetTags",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AssetTags"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetTags"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetTags"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AssetTags"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": ["Assets"],
        "operationId": "UpdateAssetTags",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AssetTags"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetTags"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetTags"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AssetTags"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": ["Assets"],
        "operationId": "DeleteAssetTags",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AwsAccounts": {
      "get": {
        "tags": ["AwsAccounts"],
        "operationId": "ListAwsAccounts",
        "parameters": [
          {
            "name": "OrganizationId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PublisherId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ConsumerId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CustomerTenantType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CustomerTenantType"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Search",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AwsAccount"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AwsAccount"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AwsAccount"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/AwsAccounts/{id}": {
      "get": {
        "tags": ["AwsAccounts"],
        "operationId": "GetAwsAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AwsAccount"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwsAccount"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwsAccount"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["AwsAccounts"],
        "operationId": "UpdateAwsAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AwsAccount"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AwsAccount"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AwsAccount"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AwsAccount"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AwsAccount"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwsAccount"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwsAccount"
                }
              }
            }
          }
        }
      }
    },
    "/AzurePlans/{azurePlanId}": {
      "get": {
        "tags": ["AzurePlans"],
        "operationId": "GetAzurePlan",
        "parameters": [
          {
            "name": "azurePlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AzurePlan"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzurePlan"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzurePlan"
                }
              }
            }
          }
        }
      }
    },
    "/AzurePlans/{azurePlanId}/azureSubscriptions": {
      "get": {
        "tags": ["AzurePlans"],
        "operationId": "GetAzurePlanSubscriptions",
        "parameters": [
          {
            "name": "azurePlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Search",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AzureSubscription"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AzureSubscription"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AzureSubscription"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["AzurePlans"],
        "operationId": "CreateAzurePlanSubscription",
        "parameters": [
          {
            "name": "azurePlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAzureSubscriptionRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAzureSubscriptionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAzureSubscriptionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAzureSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/AzurePlans/{azurePlanId}/azureSubscriptions/{id}": {
      "get": {
        "tags": ["AzurePlans"],
        "operationId": "GetAzurePlanSubscriptioById",
        "parameters": [
          {
            "name": "azurePlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AzureSubscription"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureSubscription"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureSubscription"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["AzurePlans"],
        "operationId": "UpdateAzureSubscription",
        "parameters": [
          {
            "name": "azurePlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PutAzureSubscription"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutAzureSubscription"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PutAzureSubscription"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PutAzureSubscription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AzureSubscription"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureSubscription"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureSubscription"
                }
              }
            }
          }
        }
      }
    },
    "/AzurePlans/{azurePlanId}/azureSubscriptions/{id}/assign-unique-admin": {
      "put": {
        "tags": ["AzurePlans"],
        "operationId": "AssignUniqueAdminAzureSubscription",
        "parameters": [
          {
            "name": "azurePlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AzureSubscriptionAssignAdmin"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AzureSubscriptionAssignAdmin"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AzureSubscriptionAssignAdmin"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AzureSubscriptionAssignAdmin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/AzurePlans/{azurePlanId}/azureSubscriptions/{id}/cancel": {
      "post": {
        "tags": ["AzurePlans"],
        "operationId": "CancelAzureSubscription",
        "parameters": [
          {
            "name": "azurePlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AzureSubscriptionUpdated"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureSubscriptionUpdated"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureSubscriptionUpdated"
                }
              }
            }
          }
        }
      }
    },
    "/AzurePlans/{azurePlanId}/azureSubscriptions/{id}/enable": {
      "post": {
        "tags": ["AzurePlans"],
        "operationId": "enableAzureSubscription",
        "parameters": [
          {
            "name": "azurePlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AzureSubscriptionUpdated"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureSubscriptionUpdated"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureSubscriptionUpdated"
                }
              }
            }
          }
        }
      }
    },
    "/AzurePlans/{azurePlanId}/azureSubscriptions/{id}/rename": {
      "patch": {
        "tags": ["AzurePlans"],
        "operationId": "RenameAzureSubscription",
        "parameters": [
          {
            "name": "azurePlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AzureSubscriptionRename"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AzureSubscriptionRename"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AzureSubscriptionRename"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AzureSubscriptionRename"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AzureSubscriptionUpdated"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureSubscriptionUpdated"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureSubscriptionUpdated"
                }
              }
            }
          }
        }
      }
    },
    "/BillingCycles": {
      "get": {
        "tags": ["BillingCycles"],
        "operationId": "ListBillingCycles",
        "parameters": [
          {
            "name": "includeUnknown",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingCycle"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingCycle"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingCycle"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillingCycles/productVariant/{productVariantId}": {
      "get": {
        "tags": ["BillingCycles"],
        "operationId": "GetBillingCycleProductVariant",
        "parameters": [
          {
            "name": "productVariantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingCycle"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingCycle"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingCycle"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillingCycles/cspNameDictionary": {
      "get": {
        "tags": ["BillingCycles"],
        "operationId": "ListBillingCyclesCSPNameDictionary",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillingStatements": {
      "get": {
        "tags": ["BillingStatements"],
        "operationId": "ListBillingStatements",
        "parameters": [
          {
            "name": "InvoiceProfileId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "OrganizationId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ProvisionType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ProvisionType"
            }
          },
          {
            "name": "From",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "To",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingStatement"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingStatement"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingStatement"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillingStatements/grouped": {
      "get": {
        "tags": ["BillingStatements"],
        "operationId": "ListGroupedBillingStatements",
        "parameters": [
          {
            "name": "InvoiceProfileId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "OrganizationId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ProvisionType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ProvisionType"
            }
          },
          {
            "name": "From",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "To",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupedBillingStatement"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupedBillingStatement"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupedBillingStatement"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillingStatements/file/{id}": {
      "get": {
        "tags": ["BillingStatements"],
        "operationId": "GetBillingStatementFile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingFile"
                }
              }
            }
          }
        }
      }
    },
    "/BillingStatements/{id}/reconciliationfile": {
      "get": {
        "tags": ["BillingStatements"],
        "operationId": "GetBillingStatementReconciliationFile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingFile"
                }
              }
            }
          }
        }
      }
    },
    "/BillingStatements/{id}/billingrecordsfile": {
      "get": {
        "tags": ["BillingStatements"],
        "operationId": "GetBillingStatementRecordsFile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingFile"
                }
              }
            }
          }
        }
      }
    },
    "/BlogItems": {
      "get": {
        "tags": ["BlogItems"],
        "operationId": "ListBlogItems",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 6
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlogItem"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlogItem"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlogItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Clients": {
      "get": {
        "tags": ["Clients"],
        "operationId": "ListClients",
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Search",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Client"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Client"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Client"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Clients"],
        "operationId": "CreateClient",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      }
    },
    "/Clients/{clientId}": {
      "get": {
        "tags": ["Clients"],
        "operationId": "GetClient",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Clients"],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Clients"],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/Consumers": {
      "get": {
        "tags": ["Consumers"],
        "operationId": "ListConsumers",
        "parameters": [
          {
            "name": "OrganizationId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Search",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Consumer"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Consumer"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Consumer"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Consumers"],
        "operationId": "CreateConsumer",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Consumer"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Consumer"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Consumer"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Consumer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Consumer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consumer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consumer"
                }
              }
            }
          }
        }
      }
    },
    "/Consumers/{id}": {
      "get": {
        "tags": ["Consumers"],
        "operationId": "GetConsumer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Consumer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consumer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consumer"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Consumers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Consumer"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Consumer"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Consumer"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Consumer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Consumer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consumer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consumer"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Consumers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/CrayonAccounts": {
      "get": {
        "tags": ["CrayonAccounts"],
        "operationId": "ListCrayonAccounts",
        "parameters": [
          {
            "name": "OrganizationId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PublisherId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ConsumerId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CustomerTenantType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CustomerTenantType"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Search",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CrayonAccount"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CrayonAccount"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CrayonAccount"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["CrayonAccounts"],
        "operationId": "CreateCrayonAccount",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CrayonAccount"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrayonAccount"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CrayonAccount"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CrayonAccount"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CrayonAccount"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrayonAccount"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrayonAccount"
                }
              }
            }
          }
        }
      }
    },
    "/CrayonAccounts/{id}": {
      "get": {
        "tags": ["CrayonAccounts"],
        "operationId": "GetCrayonAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CrayonAccount"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrayonAccount"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrayonAccount"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["CrayonAccounts"],
        "operationId": "UpdateCrayonAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CrayonAccount"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrayonAccount"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CrayonAccount"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CrayonAccount"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CrayonAccount"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrayonAccount"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrayonAccount"
                }
              }
            }
          }
        }
      }
    },
    "/customertenants/{customerTenantId}/agreements": {
      "get": {
        "tags": ["CustomerTenantAgreements"],
        "operationId": "ListCustomerTenantAgreements",
        "parameters": [
          {
            "name": "customerTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "AgreementTypeConsent",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AgreementTypeConsent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServiceAccountAgreement"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServiceAccountAgreement"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServiceAccountAgreement"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["CustomerTenantAgreements"],
        "operationId": "CreateCustomerTenantAgreements",
        "parameters": [
          {
            "name": "customerTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceAccountAgreement"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceAccountAgreement"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceAccountAgreement"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceAccountAgreement"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountAgreement"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountAgreement"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountAgreement"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerTenants": {
      "get": {
        "tags": ["CustomerTenants"],
        "operationId": "ListCustomerTenants",
        "parameters": [
          {
            "name": "OrganizationId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PublisherId",
            "in": "query",
            "schema": {
[...]
