{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Crayon Group Customer API"
  },
  "host": "apiv1.crayon.com",
  "paths": {
    "/api/v1/ActivityLogs": {
      "get": {
        "tags": [
          "ActivityLogs"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Entity",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Ids",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "SearchDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "From",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "To",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ActivityLog"
            }
          }
        }
      }
    },
    "/api/v1/organizations/{organizationId}/Addresses": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "None",
              "Invoice",
              "Delivery"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfAddress"
            }
          }
        }
      }
    },
    "/api/v1/organizations/{organizationId}/Addresses/{id}": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "operationId": "GetById",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        }
      }
    },
    "/api/v1/AgreementProducts": {
      "get": {
        "tags": [
          "AgreementProducts"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "AgreementTypeIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "None",
                "LicenseAgreement",
                "OpenAgreement",
                "FrameAgreement",
                "SamAgreement",
                "ConsultingAgreement",
                "CloudSeatAgreement",
                "CloudUsageAgreement",
                "ReportingAgreement",
                "OtherAgreement",
                "Reserved1",
                "Reserved2",
                "Reserved3"
              ]
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Search",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "PriceListId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "OrganizationId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomerTenantId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "AgreementId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "IsTrial",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "AgreementIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "SearchDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "Include.PartNumbers",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Include.PublisherIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Include.PublisherNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Include.PoolNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Include.OperatingSystemNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Include.LevelNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Include.LanguageNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Include.LicenseAgreementTypeNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Include.LicenseTypeNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Include.ProductFamilyNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Include.ProductTypeNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Include.ProgramNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Include.OfferingNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Include.PurchasePeriodNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Include.PurchaseUnitNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Include.VersionNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Include.RegionNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Include.ProductCategoryNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Exclude.PartNumbers",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Exclude.PublisherIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Exclude.PublisherNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Exclude.PoolNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Exclude.OperatingSystemNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Exclude.LevelNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Exclude.LanguageNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Exclude.LicenseAgreementTypeNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Exclude.LicenseTypeNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Exclude.ProductFamilyNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Exclude.ProductTypeNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Exclude.ProgramNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Exclude.OfferingNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Exclude.PurchasePeriodNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Exclude.PurchaseUnitNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Exclude.VersionNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Exclude.RegionNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Exclude.ProductCategoryNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "SortKey",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "IncludeProductInformation",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "SortOrder",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Ascending",
              "Descending"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AgreementProductCollection"
            }
          }
        }
      },
      "post": {
        "tags": [
          "AgreementProducts"
        ],
        "operationId": "GetOperationSdk133",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AgreementProductFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AgreementProductCollection"
            }
          }
        }
      }
    },
    "/api/v1/AgreementProducts/file/xlsx": {
      "post": {
        "tags": [
          "AgreementProducts"
        ],
        "operationId": "GetAsExcelFile",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "filter",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AgreementProductFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/AgreementProducts/{partNumber}/supportedbillingcycles": {
      "get": {
        "tags": [
          "AgreementProducts"
        ],
        "operationId": "GetSupportedBillingCycles",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "resellerCustomerId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "partNumber",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "enum": [
                  "Unknown",
                  "Monthly",
                  "Annual",
                  "None",
                  "OneTime",
                  "BiAnnually",
                  "TwoYears",
                  "ThreeYears",
                  "Quarterly"
                ],
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/api/v1/AgreementReports/{productContainerId}": {
      "get": {
        "tags": [
          "AgreementReports"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "productContainerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfAgreementReport"
            }
          }
        }
      }
    },
    "/api/v1/AgreementReports/{agreementId}": {
      "put": {
        "tags": [
          "AgreementReports"
        ],
        "operationId": "Update",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "agreementId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "agreementReport",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AgreementReport"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AgreementReport"
            }
          }
        }
      }
    },
    "/api/v1/Agreements": {
      "get": {
        "tags": [
          "Agreements"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "OrganizationId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "OrganizationIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "PricelistIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Status",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "None",
              "Active",
              "Inactive",
              "ActiveInactive"
            ]
          },
          {
            "name": "AgreementTypes",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "None",
                "LicenseAgreement",
                "OpenAgreement",
                "FrameAgreement",
                "SamAgreement",
                "ConsultingAgreement",
                "CloudSeatAgreement",
                "CloudUsageAgreement",
                "ReportingAgreement",
                "OtherAgreement",
                "Reserved1",
                "Reserved2",
                "Reserved3"
              ]
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "PublisherIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "ProgramIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "SearchDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "AgreementIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "SalesPriceCurrency",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "TermRequired",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "PublisherId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "EndDateFrom",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "EndDateTo",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Search",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AgreementCollection"
            }
          }
        }
      }
    },
    "/api/v1/Assets": {
      "get": {
        "tags": [
          "Assets"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ResellerCustomerId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PublisherId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ExternalOrderId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ExternalOrderIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "ReservationId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "AssetType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Reservation",
              "Software",
              "Subscription"
            ]
          },
          {
            "name": "Status",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "None",
              "Fulfilling",
              "Succeeded",
              "Cancelled",
              "All"
            ]
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Search",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfAsset"
            }
          }
        }
      }
    },
    "/api/v1/Assets/orders": {
      "get": {
        "tags": [
          "Assets"
        ],
        "operationId": "GetAssetOrdersAsync",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ResellerCustomerId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PublisherId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ExternalOrderId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ExternalOrderIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "ReservationId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "AssetType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Reservation",
              "Software",
              "Subscription"
            ]
          },
          {
            "name": "Status",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "None",
              "Fulfilling",
              "Succeeded",
              "Cancelled",
              "All"
            ]
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Search",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfAssetOrder"
            }
          }
        }
      }
    },
    "/api/v1/Assets/verify": {
      "post": {
        "tags": [
          "Assets"
        ],
        "operationId": "VerifyAsync",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "order",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AssetOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AssetOrder"
            }
          }
        }
      }
    },
    "/api/v1/Assets/checkout": {
      "post": {
        "tags": [
          "Assets"
        ],
        "operationId": "CheckoutAsync",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "order",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AssetOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/AwsAccounts": {
      "get": {
        "tags": [
          "AwsAccounts"
        ],
        "operationId": "GetAwsAccounts",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "OrganizationId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PublisherId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ConsumerId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomerTenantType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "None",
              "T1",
              "T2"
            ]
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Search",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfAwsAccount"
            }
          }
        }
      }
    },
    "/api/v1/AwsAccounts/{id}": {
      "get": {
        "tags": [
          "AwsAccounts"
        ],
        "operationId": "GetAwsAccountById",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AwsAccount"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AwsAccounts"
        ],
        "operationId": "Put",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "awsAccount",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AwsAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AwsAccount"
            }
          }
        }
      }
    },
    "/api/v1/AzurePlans/{azurePlanId}/azureSubscriptions": {
      "get": {
        "tags": [
          "AzurePlans"
        ],
        "operationId": "GetSubscriptions",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "azurePlanId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Search",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfAzureSubscription"
            }
          }
        }
      },
      "post": {
        "tags": [
          "AzurePlans"
        ],
        "operationId": "CreateSubscription",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "azurePlanId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "requestBody",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateAzureSubscriptionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/AzurePlans/{azurePlanId}/azureSubscriptions/{id}": {
      "get": {
        "tags": [
          "AzurePlans"
        ],
        "operationId": "GetSubscriptionById",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "azurePlanId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AzureSubscription"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AzurePlans"
        ],
        "operationId": "UpdateSubscription",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "azurePlanId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "azureSubscription",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PutAzureSubscription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AzureSubscription"
            }
          }
        }
      }
    },
    "/api/v1/BillingCycles": {
      "get": {
        "tags": [
          "BillingCycles"
        ],
        "operationId": "GetAllBillingCycles",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "includeUnknown",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfBillingCycle"
            }
          }
        }
      }
    },
    "/api/v1/BillingCycles/productVariant/{productVariantId}": {
      "get": {
        "tags": [
          "BillingCycles"
        ],
        "operationId": "GetByProductVariantId",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "productVariantId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfBillingCycle"
            }
          }
        }
      }
    },
    "/api/v1/BillingCycles/cspNameDictionary": {
      "get": {
        "tags": [
          "BillingCycles"
        ],
        "operationId": "GetCspNameDictionary",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/api/v1/BillingStatements": {
      "get": {
        "tags": [
          "BillingStatements"
        ],
        "operationId": "GetBillingStatements",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "InvoiceProfileId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "OrganizationId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ProvisionType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "None",
              "Seat",
              "Usage",
              "OneTime",
              "Crayon",
              "AzureMarketplace"
            ]
          },
          {
            "name": "From",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "To",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfBillingStatement"
            }
          }
        }
      }
    },
    "/api/v1/BillingStatements/grouped": {
      "get": {
        "tags": [
          "BillingStatements"
        ],
        "operationId": "GetGroupedBillingStatements",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "InvoiceProfileId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "OrganizationId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ProvisionType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "None",
              "Seat",
              "Usage",
              "OneTime",
              "Crayon",
              "AzureMarketplace"
            ]
          },
          {
            "name": "From",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "To",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfGroupedBillingStatement"
            }
          }
        }
      }
    },
    "/api/v1/BillingStatements/file/{id}": {
      "get": {
        "tags": [
          "BillingStatements"
        ],
        "operationId": "GetBillingStatementFile",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/BillingStatements/{id}/reconciliationfile": {
      "get": {
        "tags": [
          "BillingStatements"
        ],
        "operationId": "GetReconciliationFile",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/BillingStatements/{id}/billingrecordsfile": {
      "get": {
        "tags": [
          "BillingStatements"
        ],
        "operationId": "GetBillingRecordsFile",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/BlogItems": {
      "get": {
        "tags": [
          "BlogItems"
        ],
        "operationId": "GetForDirectCustomers",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 6
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfBlogItem"
            }
          }
        }
      }
    },
    "/api/v1/Clients": {
      "get": {
        "tags": [
          "Clients"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Search",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfClient"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Clients"
        ],
        "operationId": "Post",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "client",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Client"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Client"
            }
          }
        }
      }
    },
    "/api/v1/Clients/{clientId}": {
      "get": {
        "tags": [
          "Clients"
        ],
        "operationId": "GetById",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Client"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Clients"
        ],
        "operationId": "Put",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Client"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Client"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Clients"
        ],
        "operationId": "Delete",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/api/v1/Consumers": {
      "get": {
        "tags": [
          "Consumers"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "OrganizationId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Search",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfConsumer"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Consumers"
        ],
        "operationId": "AddConsumer",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "consumer",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Consumer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Consumer"
            }
          }
        }
      }
    },
    "/api/v1/Consumers/{id}": {
      "get": {
        "tags": [
          "Consumers"
        ],
        "operationId": "GetConsumerById",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Consumer"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Consumers"
        ],
        "operationId": "UpdateConsumer",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "consumer",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Consumer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Consumer"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Consumers"
        ],
        "operationId": "DeleteConsumer",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/api/v1/CrayonAccounts": {
      "get": {
        "tags": [
          "CrayonAccounts"
        ],
        "operationId": "GetCrayonAccounts",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "OrganizationId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PublisherId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ConsumerId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomerTenantType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "None",
              "T1",
              "T2"
            ]
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Search",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfCrayonAccount"
            }
          }
        }
      },
      "post": {
        "tags": [
          "CrayonAccounts"
        ],
        "operationId": "Post",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "crayonAccount",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CrayonAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CrayonAccount"
            }
          }
        }
      }
    },
    "/api/v1/CrayonAccounts/{id}": {
      "get": {
        "tags": [
          "CrayonAccounts"
        ],
        "operationId": "GetCrayonAccountById",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CrayonAccount"
            }
          }
        }
      },
      "put": {
        "tags": [
          "CrayonAccounts"
        ],
        "operationId": "Put",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "crayonAccount",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CrayonAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CrayonAccount"
            }
          }
        }
      }
    },
    "/api/v1/customertenants/{customerTenantId}/agreements": {
      "get": {
        "tags": [
          "CustomerTenantAgreements"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "customerTenantId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "AgreementTypeConsent",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "MicrosoftCloudAgreement",
              "MicrosoftCustomerAgreement"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfServiceAccountAgreement"
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomerTenantAgreements"
        ],
        "operationId": "Add",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "customerTenantId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "agreement",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ServiceAccountAgreement"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ServiceAccountAgreement"
            }
          }
        }
      }
    },
    "/api/v1/CustomerTenants": {
      "get": {
        "tags": [
          "CustomerTenants"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "OrganizationId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PublisherId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ProgramId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ConsumerId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Domain",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "DomainPrefix",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "CustomerTenantType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "None",
              "T1",
              "T2"
            ]
          },
          {
            "name": "InvoiceProfileId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Search",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfCustomerTenant"
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomerTenants"
        ],
        "operationId": "Post",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "customerTenant",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CustomerTenantDetailed"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CustomerTenantDetailed"
            }
          }
        }
      }
    },
    "/api/v1/CustomerTenants/{id}": {
      "get": {
        "tags": [
          "CustomerTenants"
        ],
        "operationId": "GetCustomerTenantById",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CustomerTenant"
            }
          }
        }
      },
      "put": {
        "tags": [
          "CustomerTenants"
        ],
        "operationId": "Put",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "customerTenant",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CustomerTenantDetailed"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CustomerTenantDetailed"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CustomerTenants"
        ],
        "operationId": "DeleteCustomerById",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/CustomerTenants/{id}/detailed": {
      "get": {
        "tags": [
          "CustomerTenants"
        ],
        "operationId": "GetCustomerTenantDetailedById",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CustomerTenantDetailed"
            }
          }
        }
      }
    },
    "/api/v1/CustomerTenants/existing": {
      "post": {
        "tags": [
          "CustomerTenants"
        ],
        "operationId": "AddExisting",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "existingTenant",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CustomerTenantDetailed"
            }
          },
          {
            "name": "syncFromPublisher",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CustomerTenantDetailed"
            }
          }
        }
      }
    },
    "/api/v1/CustomerTenants/{customerTenantId}/azurePlan": {
      "get": {
        "tags": [
          "CustomerTenants"
        ],
        "operationId": "GetAzurePlan",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "customerTenantId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AzurePlan"
            }
          }
        }
      }
    },
    "/api/v1/connect/token": {
      "post": {
        "tags": [
          "CustomerToken"
        ],
        "operationId": "Post",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Token"
            }
          }
        }
      }
    },
    "/api/v1/FacebookOrders/checkout": {
      "post": {
        "tags": [
          "FacebookOrders"
        ],
        "operationId": "CheckoutAsync",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "order",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FacebookOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/GoogleOrders/checkout": {
      "post": {
        "tags": [
          "GoogleOrders"
        ],
        "operationId": "CheckoutAsync",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "order",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/GoogleOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/Groupings": {
      "get": {
        "tags": [
          "Groupings"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "OrganizationId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "IncludeRemoved",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "Search",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfGrouping"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Groupings"
        ],
        "operationId": "Post",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "grouping",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Grouping"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Grouping"
            }
          }
        }
      }
    },
    "/api/v1/Groupings/{id}": {
      "get": {
        "tags": [
          "Groupings"
        ],
        "operationId": "GetById",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Grouping"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Groupings"
        ],
        "operationId": "Put",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "grouping",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Grouping"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Grouping"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Groupings"
        ],
        "operationId": "Delete",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/InvoiceProfiles": {
      "get": {
        "tags": [
          "InvoiceProfiles"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "OrganizationId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Search",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfInvoiceProfile"
            }
          }
        }
      },
      "post": {
        "tags": [
          "InvoiceProfiles"
        ],
        "operationId": "Post",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "invoiceProfile",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/InvoiceProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InvoiceProfile"
            }
          }
        }
      }
    },
    "/api/v1/InvoiceProfiles/{id}": {
      "get": {
        "tags": [
          "InvoiceProfiles"
        ],
        "operationId": "GetById",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InvoiceProfile"
            }
          }
        }
      },
      "put": {
        "tags": [
          "InvoiceProfiles"
        ],
        "operationId": "Put",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "invoiceProfile",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/InvoiceProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InvoiceProfile"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "InvoiceProfiles"
        ],
        "operationId": "Delete",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/api/v1/ManagementLinks": {
      "get": {
        "tags": [
          "ManagementLinks"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "SubscriptionIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "ResellerCustomerIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfManagementLink"
            }
          }
        }
      }
    },
    "/api/v1/ManagementLinks/grouped": {
      "get": {
        "tags": [
          "ManagementLinks"
        ],
        "operationId": "GetGrouped",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "SubscriptionIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "ResellerCustomerIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "uniqueItems": false
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfManagementLinkGrouped"
            }
          }
        }
      }
    },
    "/api/v1/Me": {
      "get": {
        "tags": [
          "Me"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Me"
            }
          }
        }
      }
    },
    "/api/v1/OrganizationAccess/grant": {
      "get": {
        "tags": [
          "OrganizationAccess"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 10000
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfOrganizationAccess"
            }
          }
        }
      }
    },
    "/api/v1/OrganizationAccess": {
      "get": {
        "tags": [
          "OrganizationAccess"
        ],
        "operationId": "GetOrganizationAccess",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 10000
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfOrganizationAccess"
            }
          }
        }
      },
      "put": {
        "tags": [
          "OrganizationAccess"
        ],
        "operationId": "Put",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "list",
            "in": "body",
            "required": false,
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrganizationAccess"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrganizationAccess"
              }
            }
          }
        }
      }
    },
    "/api/v1/Organizations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Search",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiCollectionOfOrganization"
            }
          }
        }
      }
    },
    "/api/v1/Organizations/{id}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "operationId": "GetById",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          }
        }
      }
    },
    "/api/v1/Organizations/{organizationId}/salescontact": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "operationId": "GetOrganizationSalesContact",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OrganizationSalesContact"
            }
          }
        }
      }
    },
    "/api/v1/Organizations/HasAccess/{id}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "operationId": "HasAccessAsync",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/api/v1/Ping": {
      "get": {
        "tags": [
          "Ping"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/ProductContainers": {
      "get": {
        "tags": [
          "ProductContainers"
        ],
        "operationId": "Get",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "OrganizationId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Search",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ActiveDraft",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "ProgramId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Year",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Month",
            "in": "query",
            "required": false,
[...]
